<ion-content class="ion-padding">
  <div class="container">
    <h1 class="title">Cul de Chouette</h1>

    <div class="buttons-container">
      <ion-button expand="block" class="menu-button" (click)="nouvellePartie()">
        Nouvelle partie
      </ion-button>

      <ion-button expand="block" class="menu-button" (click)="continuerPartie()">
        Continuer partie
      </ion-button>

      <ion-button expand="block" class="menu-button" (click)="voirRegles()">
        Règles
      </ion-button>
    </div>
  </div>
</ion-content>